<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>用于将回忆图片保存到你的系统相册。</string>
    <key>SupabasePublishableKey</key>
    <string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyb2xlIjoiYW5vbiIsInJlZiI6InNwYi1icDEwMzI0Nml2bjdxMG5sIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NzY2ODk5MzgsImV4cCI6MjA5MjI2NTkzOH0.7TISmShJKDHbvfOEom0pELGvSdBt5NdPzuHnwqbsNB0</string>
    <key>SupabaseURL</key>
    <string>https://api.sanju.cc</string>
    <key>StoreKitProducts</key>
    <array>
        <dict>
            <key>credits</key>
            <integer>200</integer>
            <key>productID</key>
            <string>com.yanglv.sanju.credits200</string>
        </dict>
        <dict>
            <key>credits</key>
            <integer>365</integer>
            <key>productID</key>
            <string>com.yanglv.sanju.credits365</string>
        </dict>
    </array>
</dict>
</plist>
